/* color palette from <https://github.com/vuejs/theme> */
:root {
  --brand-main-color: rgb(103, 210, 233);
  --light-gray: #fdfdfd;
  --danger-color: rgb(241, 34, 27);
  --success-color: rgb(58, 214, 64);
  --light-hover: #ededed;
  --base-margin: 25px;
}

body {
  font-family:
    Montserrat,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.list-to-menu {
  list-style-type: none;
  padding-inline-start: 0;
}
