@import './base.css';

.main {
  padding-left: 100px;
  padding-right: 100px;
}

.main-margins {
  max-width: 1200px;
  width: 100%;
  margin-top: 30px;
}

.link {
  color: #40a5ee;
  font-weight: 600;
  text-decoration: none;
}

.menu-link {
  color: #000000;
  text-decoration: none;
}

.page-header {
  margin-bottom: 30px;
}

.block-info {
  border: 1px solid var(--brand-main-color);
  padding: 25px 30px;
  margin-bottom: 30px;
}

.block-info__title_1 {
  font-size: 1.5em;
  margin-bottom: var(--base-margin);
  font-weight: 500;
}

.block-info__item:not(:last-child) {
  margin-bottom: 12px;
}

.block-info__prop {
  font-weight: 500;
  display: inline-block;
}

.bonus-cost {
  font-size: calc(4em / 3);
  font-weight: 500;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  color: #000000;
}

.in_development {
  display: flex;
  align-items: center;
}

.in_development > *:not(:last-child) {
  opacity: 0.5;
  cursor: not-allowed;
}

.soon-label {
  display: inline-block;
  padding: 0px 6px 2px 6px;
  color: #5e5e5e;
  background-color: rgba(108, 108, 108, 0.1);
  border-radius: 12px;
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
  cursor: not-allowed;
}

.modal {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9997;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  width: 500px;
  /*height: 300px;*/
  padding: var(--base-margin);
  border-radius: 10px;
}

.form {
  width: 100%;
}

.textarea {
  resize: none;
  border-radius: 4px;
  border: 1px var(--brand-main-color) solid;
  width: 100%;
  outline: none;
  padding: 10px 15px;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.complex-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 1px var(--brand-main-color) solid;
  outline: none;
  padding: 10px 15px;
  box-sizing: border-box;
}

.modal-button-group {
  display: flex;
  justify-content: center;
}

.field-description {
  font-size: 0.8em;
  color: var(--caption);
}

.flex-center {
  display: flex;
  align-items: center;
}

.symbols-count {
  color: var(--caption);
  font-size: 12px;
}

.multiselect-custom {
  font-size: 14px !important;
  border-radius: 4px;
  margin-left: 1em;
}

/* override */
.multiselect__tags {
  border: 1px var(--brand-main-color) solid !important;
}

/* override */
.multiselect__single {
  font-size: 14px !important;
}

.required::after {
  content: ' *';
  color: var(--danger-color);
}

.main-button {
  background-color: var(--brand-main-color);
  font-weight: 600;
  border: none;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.input-error {
  border: 1px var(--danger-color) solid;
}

.field-error {
  display: inline-block;
  color: var(--danger-color);
  font-size: 0.8em;
  margin-bottom: 1em;
  visibility: hidden;
}

.error-show {
  visibility: visible;
}

.alert-error {
  padding: 15px 25px;
  border: 1px var(--danger-color) solid;
  background-color: rgb(241, 34, 27, 0.2);
  margin-bottom: 1em;
}

/*@media screen and (max-width: 768px) {
  .main {
    padding-left: 25px;
    padding-right: 50px;
  }
}*/
